@import '../styles.scss';

.app {
    background-image: url('../assets/backgrounds/login-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    @include dflex(center, center);
    .copyright {
        font-family: 'MontserratMedium';
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        font-size: 10px;
        a {
            color: white;
        }
    }
}

@media (max-width: 992px) {
    .app {
        @include dflex-dir(center, column);
        height: auto;
    }
}

@media (max-width: 576px) {
    .copyright {
        span {
            display: none;
        }
    }
}
@media (max-width: 500px) {

}