@import '../../styles.scss';

.profile {
    @include dflex-dir(center, column);
    width: 365px;
    height: 600px;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0px 0px 5px #888888;
    border-radius: 1.5rem;
    margin: 0 15px;
    padding: 0px 25px;
    & > p {
        font-family: 'League_Spartan';
        font-size: 20px;
        margin-bottom: 3rem;
    }
    .form {
        @include dflex-dir(center, row);
        flex-wrap: wrap;
        width: 100%;
        .data-entry {
            width: 100%;
            @include dflex-dir(center, column);
            label {
                font-family: 'League_Spartan';
                margin: 0px 0px 5px 2px;
                color: rgb(0, 0, 0);
                opacity: 0.5;
            }
            input {
                padding: 3px 20px 2px 20px;
                font-family: 'MontserratMedium';
                line-height: 35px;
                margin-bottom: 20px;
                border-radius: 0.4rem;
                border: 1px solid black;
                cursor: not-allowed;
            }
            .phone-entry {
                width: 100%;
                @include dflex-dir(flex-start, row);
                input {
                    flex-grow: 1;
                }
                select {
                    font-family: 'MontserratMedium';
                    height: 42px;
                    width: 70px;
                    padding-left: 10px;
                    background-color: white;
                    margin-right: 20px;
                    border-radius: 0.4rem;
                    border: 1px solid black;
                    cursor: not-allowed;
                }
            }
        }
        .management {
            width: 100%;
            margin: 2rem 0 3rem 0;
            text-align: end;
            button {
                cursor: pointer;
                &:nth-child(1) {
                    font-family: 'MontserratMedium';
                    padding: 8px 20px;
                    border: none;
                    outline: none;
                    border: 1.5px solid #2E09DB;
                    background-color: #2E09DB;
                    color: white;
                    border-radius: 0.6rem;
                    margin-left: 10px;
                }
                &:nth-child(2) {
                    font-family: 'MontserratMedium';
                    padding: 8px 20px;
                    border: none;
                    outline: none;
                    border: 1.5px solid black;
                    background-color: #F6F4FF;
                    color: #2E09DB;
                    border-radius: 0.6rem;
                    margin-left: 10px;
                }
            }
        }
    }
}